.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao .procurarumpet {
  color: #f1f1f1;
  background-color: #b629f8;
  border-radius: 20px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.125rem;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -55px;
  left: -65px;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .procurarumpet {
    font-size: 0.6rem;
    padding: 6px 20px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .procurarumpet {
    font-size: 0.4rem;
    padding: 4px 18px;
  }
  .introducao h1::before {
    display: none;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
